* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.aks {
  background-color: hsl(185, 75%, 39%);
}
.avatar {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translatex(-50%) translateY(-50%);
  background-color: aliceblue;
  width: 300px;
  height: 300px;
  
}
.p1 {

   

}
 .sp1 {
    color: (0, 0%, 59%);
 }
 .p2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: (0, 0%, 59%);
    
 }
 .img1 {
    border-radius: 100px;
    position: relative;
    top: -50px;
    left: 100px;
 }